@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.font-heading {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}